*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("https://getwallpapers.com/wallpaper/full/9/1/0/307777.jpg");
    background-size: cover;
    margin-top:50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-size: 2em;
    color:white;
}

p{
    margin-top:200px;
    font-size: 1.5em;
    color:white;
}

input{
    margin-top:20px;
    margin-right:10px;
    width:200px;
    height:30px;
    border-radius: 7px;
    font-size: 1.1em;
    padding:10px;
    border:none;
    box-shadow: 0 0 5px 2px grey;
}

button{
    width:90px;
    height:30px;
    border-radius: 7px;
    font-size:1.01em;
    border:none;
    box-shadow: 0 0 5px 3px grey;
}

#info{
    margin-top:30px;
}

